{% extends "index.html" %}
{% block main %}
<section class="list-section">
  <div class="list-header">Exchanges</div>
  <ul class="item-list">
    {% for s in exchangeList %}
    <!-- <li hx-get="/exchanges/{{ s.id }}" hx-boost="true"><a href="{{ url}}">{{ s.name }}</a></li> -->
    <li><a href="{{ url_for('get_santas', exchangeID=s.id) }}">{{ s.name }}</a></li>
    {% endfor %}
  </ul>
</section>
<section class="list-section">
  <form aria-label="Create Exchange">
    <input 
      type="text" 
      id="exchangeName" 
      name="exchangeName"
      required 
      placeholder="Exchange Name" 
    />
    <input 
      type="submit" 
      value="Create" 
      hx-post="/exchanges"
    />
  </form>
</section>
{% endblock main %}


      <!-- hx-target="ul" -->
      <!-- hx-swap="beforeend" -->